numpy
regex
tqdm
seaborn
prettytable
opencv-python
paddlepaddle==2.6.1
paddleocr==2.8.1
setuptools==66.0.0
datasets==2.11.0
transformers==4.28.1
accelerate==0.22.0 
git+https://github.com/JingyeChen/diffusers_td2.git
sentencepiece
supervision
samv2
timm
einops
simple-lama-inpainting
huggingface_hub==0.20.1
# only for colab
# "jax[cuda12_pip]==0.4.23" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html -q